TP ESPECIAL FUNDAMENTOS DE LA CIENCIA DE DATOS 2024 

DATASET: CALIDAD DE AGUA DEL RÍO DE LA PLATA - 2022

INTEGRANTES:
Abril Valentina Valentina Juarez, Matias Müller Gonzales y Julián Elias Rivero

In [140]:
%pip install matplotlib
%pip install fancyimpute

Requirement already satisfied: matplotlib in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: fancyimpute in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (0.7.0)
Requirement already satisfied: knnimpute>=0.1.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: scikit-learn>=0.24.2 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from fancyimpute) (1.5.2)
Requirement already satisfied: cvxpy in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from fancyimpute) (1.6.0)
Requirement already satisfied: cvxopt in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: pytest in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from fancyimpute) (8.3.3)
Requirement already satisfied: nose in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: six in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (3.5.0)
Requirement already satisfied: osqp>=0.6.2 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from cvxpy->fancyimpute) (0.6.7.post3)
Requirement already satisfied: clarabel>=0.5.0 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from cvxpy->fancyimpute) (0.9.0)
Requirement already satisfied: scs>=3.2.4.post1 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from cvxpy->fancyimpute) (3.2.7)
Requirement already satisfied: iniconfig in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from pytest->fancyimpute) (24.1)
Requirement already satisfied: pluggy<2,>=1.5 in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from pytest->fancyimpute) (1.5.0)
Requirement already satisfied: colorama in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from pytest->fancyimpute) (0.4.6)
Requirement already satisfied: qdldl in c:\users\matias\desktop\tp especial - ciencia de datos\practicoespecialvenv\lib\site-packages (from osqp>=0.6.2->cvxpy->fancyimpute) (0.1.7.post4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from fancyimpute import IterativeImputer,KNN
from sklearn.impute import KNNImputer

In [142]:
raw_dataset = pd.read_csv("Calidad_de_agua_2022.csv", sep =";")

Desplegamos el dataset para realizar un vistazo generico

In [143]:
raw_dataset

,orden,sitios,codigo,fecha,año,campaña,tem_agua,tem_aire,od,ph,...,dbo_mg_l,dqo_mg_l,turbiedad_ntu,hidr_deriv_petr_ug_l,cr_total_mg_l,cd_total_mg_l,clorofila_a_ug_l,microcistina_ug_l,ica,calidad_de_agua
0,1,Canal Villanueva y Río Luján,TI001,23/2/2022,2022,Verano,24.5,23.3,5.3,6.56,...,6.2,29,90,<0.10,<0.005,<0.001,<10,<0.20,55,Muy deteriorada
1,2,Río Lujan y Arroyo Caraguatá,TI006,23/2/2022,2022,Verano,25.4,23.3,2.25,6.56,...,5.8,29,34,<0.10,<0.005,<0.001,<10,<0.20,42,Extremadamente deteriorada
2,3,Canal Aliviador y Río Lujan,TI002,23/2/2022,2022,Verano,24.6,23.3,2.94,6.59,...,1.9,29,17,<0.10,<0.005,<0.001,<10,0.2,45,Muy deteriorada
3,4,Río Carapachay y Arroyo Gallo Fiambre,TI003,23/2/2022,2022,Verano,25.2,23.3,2.22,7.45,...,5.8,29,23,<0.10,<0.005,<0.001,<10,<0.20,46,Muy deteriorada
4,5,Río Reconquista y Río Lujan,TI004,23/2/2022,2022,Verano,24.1,20,1.02,6.39,...,2.6,59,18,<0.10,<0.005,<0.001,<10,<0.20,44,Extremadamente deteriorada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,38,Balneario Palo Blanco,BS092,31/10/2022,2022,Primavera,10,12,no se midió,no se midió,...,no se midió,<30,23,<0.10,<0.005,<0.001,2.1,<0.15,43,Extremadamente deteriorada
164,39,Diagonal 66 (descarga cloaca),BS095,31/10/2022,2022,Primavera,10,12,no se midió,no se midió,...,no se midió,31,18.2,<0.10,<0.005,<0.001,20.2,<0.15,37,Extremadamente deteriorada
165,40,Playa La Bagliardi,BS091,31/10/2022,2022,Primavera,10,12,no se midió,no se midió,...,no se midió,<30,40,<0.10,<0.005,<0.001,0.2,<0.15,49,Muy deteriorada
166,41,Balneario Municipal,BS094,31/10/2022,2022,Primavera,10,12,no se midió,no se midió,...,no se midió,39,90,<0.10,5,<0.001,10.5,<0.15,39,Extremadamente deteriorada
167,42,Playa La Balandra,BS093,31/10/2022,2022,Primavera,10,12,no se midió,no se midió,...,no se midió,<30,70,<0.10,5,<0.001,48.0,<0.15,34,Extremadamente deteriorada

Ahora le pedimos un poco de informacion para analizar contexto de los datos

In [144]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   orden                    168 non-null    int64
 1   sitios                   168 non-null    object
 2   codigo                   168 non-null    object
 3   fecha                    168 non-null    object
 4   año                      168 non-null    object
 5   campaña                  168 non-null    object
 6   tem_agua                 168 non-null    object
 7   tem_aire                 166 non-null    object
 8   od                       168 non-null    object
 9   ph                       168 non-null    object
 10  olores                   168 non-null    object
 11  color                    168 non-null    object
 12  espumas                  168 non-null    object
 13  mat_susp                 168 non-null    object
 14  colif_fecales_ufc_100ml  167 non-null    object
 15  escher_coli_ufc_100ml    167 non-null    object
 16  enteroc_ufc_100ml        167 non-null    object
 17  nitrato_mg_l             168 non-null    object
 18  nh4_mg_l                 168 non-null    object
 19  p_total_l_mg_l           168 non-null    object
 20  fosf_ortofos_mg_l        168 non-null    object
 21  dbo_mg_l                 167 non-null    object
 22  dqo_mg_l                 168 non-null    object
 23  turbiedad_ntu            168 non-null    object
 24  hidr_deriv_petr_ug_l     168 non-null    object
 25  cr_total_mg_l            168 non-null    object
 26  cd_total_mg_l            168 non-null    object
 27  clorofila_a_ug_l         167 non-null    object
 28  microcistina_ug_l        168 non-null    object
 29  ica                      155 non-null    object
 30  calidad_de_agua          154 non-null    object
dtypes: int64(1), object(30)
memory usage: 40.8+ KB

En total tenemos 31 columnas (atributos) y 168 filas (observaciones). Se puede ver que hay ciertas columnas con NULL y que el tipo de datos practicamente es OBJECT exceptuando la primer columna "orden" que es de tipo INT64.

In [145]:
raw_dataset.head()

,orden,sitios,codigo,fecha,año,campaña,tem_agua,tem_aire,od,ph,...,dbo_mg_l,dqo_mg_l,turbiedad_ntu,hidr_deriv_petr_ug_l,cr_total_mg_l,cd_total_mg_l,clorofila_a_ug_l,microcistina_ug_l,ica,calidad_de_agua
0,1,Canal Villanueva y Río Luján,TI001,23/2/2022,2022,Verano,24.5,23.3,5.3,6.56,...,6.2,29,90,<0.10,<0.005,<0.001,<10,<0.20,55,Muy deteriorada
1,2,Río Lujan y Arroyo Caraguatá,TI006,23/2/2022,2022,Verano,25.4,23.3,2.25,6.56,...,5.8,29,34,<0.10,<0.005,<0.001,<10,<0.20,42,Extremadamente deteriorada
2,3,Canal Aliviador y Río Lujan,TI002,23/2/2022,2022,Verano,24.6,23.3,2.94,6.59,...,1.9,29,17,<0.10,<0.005,<0.001,<10,0.2,45,Muy deteriorada
3,4,Río Carapachay y Arroyo Gallo Fiambre,TI003,23/2/2022,2022,Verano,25.2,23.3,2.22,7.45,...,5.8,29,23,<0.10,<0.005,<0.001,<10,<0.20,46,Muy deteriorada
4,5,Río Reconquista y Río Lujan,TI004,23/2/2022,2022,Verano,24.1,20,1.02,6.39,...,2.6,59,18,<0.10,<0.005,<0.001,<10,<0.20,44,Extremadamente deteriorada

A simple vista veo que tendremos que tratar lo siguiente:
1) Hay valores que enves de tener un tipo de dato cuantitativo en el atributo, tienen un string categorico que dice "no se midio" o variantes del mismo, por ejemplo en OD(oxigeno disuelto), esto deberia de ser reemplazado NA.
2) Hay datos cuantitativos que adelante del valor numerico tienen un string "<", como en el caso de las mediciones de los contaminantes en el agua.
Podriamos generar un mapa que descriva las observaciones de dicha variable. 
3) Hay datos cualitativos nominales que indican "presencia" o "ausencia" de algún compuesto en el agua, estás variables son dicotomicas, seran reemplazados por {0, 1} de acuerdo a su impacto en la muestra. 
4) Hay datos cualitativos ordinales como "muy deteriorada" o "extremadamente deteriorada" que hacen referencia al agua de esa zona, seran reemplazados mediante transformacion "ordinal encoding" ya que el orden es significativo.

Veamos cuantos valores repetidos tiene el dataset

In [146]:
raw_dataset.duplicated().sum()

np.int64(0)

Por lo visto no existe valores repetidos a simple vista.

Ya que empezaremos a modificar el dataset, una buena practica es copiar el dataset

In [147]:
copy_dataset = raw_dataset.copy()

podemos eliminar columnas que no tienen mucho sentido, como por ejemplo "orden" y vamos a eliminar "año", ya que todas las observaciones se hicieron en 2022 y no agregan mucha informacion

In [148]:
copy_dataset = copy_dataset.drop("orden",axis=1)
copy_dataset = copy_dataset.drop("año",axis=1)

Ahora vamos a ver que columnas tienen nulos

In [149]:
copy_dataset.isna().sum()

sitios                      0
codigo                      0
fecha                       0
campaña                     0
tem_agua                    0
tem_aire                    2
od                          0
ph                          0
olores                      0
color                       0
espumas                     0
mat_susp                    0
colif_fecales_ufc_100ml     1
escher_coli_ufc_100ml       1
enteroc_ufc_100ml           1
nitrato_mg_l                0
nh4_mg_l                    0
p_total_l_mg_l              0
fosf_ortofos_mg_l           0
dbo_mg_l                    1
dqo_mg_l                    0
turbiedad_ntu               0
hidr_deriv_petr_ug_l        0
cr_total_mg_l               0
cd_total_mg_l               0
clorofila_a_ug_l            1
microcistina_ug_l           0
ica                        13
calidad_de_agua            14
dtype: int64

Pareciera que existen muy pocos nulos, pero vamos a ver que sucede con el "no se midió" , asi que vamos a mostrar algunos ejemplos

In [150]:
copy_dataset[copy_dataset["dbo_mg_l"] == "no se midió"].head()

,sitios,codigo,fecha,campaña,tem_agua,tem_aire,od,ph,olores,color,...,dbo_mg_l,dqo_mg_l,turbiedad_ntu,hidr_deriv_petr_ug_l,cr_total_mg_l,cd_total_mg_l,clorofila_a_ug_l,microcistina_ug_l,ica,calidad_de_agua
10,Espigón La Farola,SI021,23/2/2022,Verano,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,...,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,NaN,NaN
12,Playa Espigón de Pacheco,SI024,23/2/2022,Verano,26.5,27,5.3,7.49,Ausencia,Ausencia,...,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,NaN,NaN
17,Parque de los Niños,CA041,23/2/2022,Verano,26.1,no se midió,4.8,7.4,Ausencia,Ausencia,...,no se midió,29,22,no se midió,<0.005,<0.002,no se midió,no se midió,54,Muy deteriorada
27,Náutico 400 m,QU062,23/2/2022,Verano,24,23,9.59,7.94,Ausencia,Ausencia,...,no se midió,29,26,<0.10,<0.005,<0.001,28,1,48,Muy deteriorada
30,Puerto Trinidad calle 47,BZ077,23/2/2022,Verano,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,...,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,no se midió,NaN,NaN

Como pudimos ver hay muchisimos "no se midió" que representa NA, entonces vamos a convertir para todas las columnas
el "no se midió" y las distintas variantes a NA

In [151]:
lista_columnas = copy_dataset.columns

for col in lista_columnas:
    copy_dataset[col] = copy_dataset[col].replace(['no midieron este día', 'no se midió', 'no se determinó','No se midió',
                                                   'no midio la sonda','NA'], pd.NA)

Una vez pasado todos los valores a NA vamos a contar cuantos NA tenemos por cada variable

In [152]:
copy_dataset.isna().sum()

sitios                      0
codigo                      0
fecha                       5
campaña                     5
tem_agua                   23
tem_aire                   24
od                         36
ph                         28
olores                     13
color                      13
espumas                    13
mat_susp                   13
colif_fecales_ufc_100ml    15
escher_coli_ufc_100ml      15
enteroc_ufc_100ml          15
nitrato_mg_l               14
nh4_mg_l                   14
p_total_l_mg_l             21
fosf_ortofos_mg_l          14
dbo_mg_l                   58
dqo_mg_l                   14
turbiedad_ntu              14
hidr_deriv_petr_ug_l       18
cr_total_mg_l              17
cd_total_mg_l              17
clorofila_a_ug_l           18
microcistina_ug_l          18
ica                        14
calidad_de_agua            14
dtype: int64

In [153]:
copy_dataset.isna().sum() / copy_dataset.shape[0]

sitios                    0.000
codigo                    0.000
fecha                     0.030
campaña                   0.030
tem_agua                  0.137
tem_aire                  0.143
od                        0.214
ph                        0.167
olores                    0.077
color                     0.077
espumas                   0.077
mat_susp                  0.077
colif_fecales_ufc_100ml   0.089
escher_coli_ufc_100ml     0.089
enteroc_ufc_100ml         0.089
nitrato_mg_l              0.083
nh4_mg_l                  0.083
p_total_l_mg_l            0.125
fosf_ortofos_mg_l         0.083
dbo_mg_l                  0.345
dqo_mg_l                  0.083
turbiedad_ntu             0.083
hidr_deriv_petr_ug_l      0.107
cr_total_mg_l             0.101
cd_total_mg_l             0.101
clorofila_a_ug_l          0.107
microcistina_ug_l         0.107
ica                       0.083
calidad_de_agua           0.083
dtype: float64

Además vemos que ninguna variable tiene más del 50% de valores faltantes, por ende no eliminaremos ninguna variable

Se eliminaran todas aquellas observaciones que contengan 14 o mas atributos con valores NA, ya que no nos aportara mucha informacion

In [154]:
copy_dataset = copy_dataset.dropna(thresh=14)

A continuacion estamos mostrando aquellas observaciones donde en la columna microcistina_ug_l se encuentran valores que deberian ser numericos, pero son de tipo object, porque hay texto combinado con numeros. Observamos que hay esto sucede en reiteradas ocasiones.

In [155]:
copy_dataset[copy_dataset["microcistina_ug_l"] == " <0.15"].value_counts()

sitios                                 codigo  fecha      campaña   tem_agua  tem_aire  od     ph    olores     color      espumas   mat_susp   colif_fecales_ufc_100ml  escher_coli_ufc_100ml  enteroc_ufc_100ml  nitrato_mg_l  nh4_mg_l  p_total_l_mg_l  fosf_ortofos_mg_l  dbo_mg_l  dqo_mg_l  turbiedad_ntu  hidr_deriv_petr_ug_l  cr_total_mg_l  cd_total_mg_l  clorofila_a_ug_l  microcistina_ug_l  ica  calidad_de_agua
Arroyo Abra Vieja y Santa Rosa         TI009   23/8/2022  invierno  15.6      15        8.68   7.13  Ausencia   Ausencia   Ausencia  Ausencia   3200                     2                      250                2.4           0.11      0.12            0.12               <2.0      <30       33              <0.10                <0.005         <0.001         200                <0.15             51   Muy deteriorada               1
Arroyo El Gato                         EN083   23/8/2022  invierno  12.8      9         2.49   8.01  Ausencia   Ausencia   Ausencia  Ausencia   192000                   60                     24                 2             22        1.2             1.2                18        <30       8,6             <0.10                <0.005         <0.001         1960               <0.15             32   Extremadamente deteriorada    1
Arroyo Santo Domingo                   AV053   23/8/2022  invierno  16.6      14        5.36   7.66  Ausente    Ausente    Ausente   Ausente    92000                    6                      610                10.8          4.1       0.27            0.27               6.5       <30       13              <0.10                0.005          <0.001         310                <0.15             37   Extremadamente deteriorada    1
Arroyo Sarandí                         AV052   23/8/2022  invierno  14.6      14        5.36   7.48  Ausente    Ausente    Ausente   Ausente    40000                    5                      670                13.3          2         0.34            0.34               5         <30       28              <0.10                0.0051         <0.001         220                <0.15             38   Extremadamente deteriorada    1
Calle 14 y Costa - Salida cloaca       BZ078   23/8/2022  invierno  11.01     17        10.01  6.37  Ausencia   Ausencia   Ausencia  Ausencia   100000                   13                     2                  8.5           5.2       0.62            0.62               14        <30       10              <0.10                0.0064         <0.001         1400               <0.15             33   Extremadamente deteriorada    1
Canal Aliviador y Río Lujan            TI002   23/8/2022  invierno  14.4      14        0.45   7.14  Presencia  Ausencia   Ausencia  Ausencia   4200000                  186                    11                 <2.0          23        2.8             2.6                42        75        13              <0.10                0.0095         <0.001         <10                <0.15             29   Extremadamente deteriorada    1
Canal Villanueva y Río Luján           TI001   23/8/2022  invierno  13.8      14        8.61   7.06  Ausencia   Ausencia   Ausencia  Ausencia   900                      80                     90                 2.1           23        0.14            0.14               <2.0      <30       22              <0.10                <0.005         <0.001         <10                <0.15             49   Muy deteriorada               1
Costa de Villa Domínico                AV055   23/8/2022  invierno  15.7      14        5.07   7.55  Ausente    Ausente    Ausente   Ausente    70000                    6                      600                12.6          3.1       0.42            0.42               5         <30       12              <0.10                0.0061         <0.001         1270               <0.15             37   Extremadamente deteriorada    1
Costa y Melo                           VL031   23/8/2022  invierno  13.1      15        10.43  8.02  Ausencia   Ausencia   Ausencia  Ausencia   160000                   4                      2                  16.4          0.22      0.42            0.42               5.6       <30       12              <0.10                <0.005         <0.001         <10                <0.15             38   Extremadamente deteriorada    1
Costanera Hudson Calle 63              BZ080   23/8/2022  invierno  15.1      15.2      11.82  8.37  Ausencia   Ausencia   Ausencia  Ausencia   58000                    500                    80                 12.2          1.5       0.36            0.36               9         <30       14              <0.10                <0.005         <0.001         2500               <0.15             38   Extremadamente deteriorada    1
Del Arca                               SF015   23/8/2022  invierno  16.3      16        5.7    5     Ausencia   Ausencia   Ausencia  Ausencia   740000                   15                     5                  8.7           3.1       0.47            0.47               10        <30       19              <0.10                <0.005         <0.001         930                <0.15             34   Extremadamente deteriorada    1
Ensenada Prefectura Isla Santiago      EN084   23/8/2022  invierno  12.7      9         9      8.23  Ausencia   Ausencia   Ausencia  Ausencia   3000                     720                    250                14.8          1.9       0.15            0.15               5.1       <30       7,3             <0.10                <0.005         <0.001         1290               <0.15             46   Muy deteriorada               1
Escollera de Propaneros                AV054   23/8/2022  invierno  15.03     14        3.09   7.23  Ausente    Ausente    Ausente   Ausente    120000                   6                      660                13            3.3       0.54            0.54               6.8       <30       25              <0.10                0.011          <0.001         870                <0.15             35   Extremadamente deteriorada    1
Espora 400 m                           QU061   23/8/2022  invierno  14.2      14        6.21   7.12  Ausencia   Ausencia   Ausencia  Ausencia   16000                    130                    100                13.5          3.9       0.63            0.62               7.3       <30       7,5             <0.10                0.0069         <0.001         <10                <0.15             42   Extremadamente deteriorada    1
Náutico 400 m                          QU062   23/8/2022  invierno  14.3      14        5.77   7.16  Presencia  Ausencia   Ausencia  Presencia  27000                    430                    100                7.7           3.8       0.57            0.46               11        <30       17              <0.10                0.0079         <0.001         <10                <0.15             33   Extremadamente deteriorada    1
Pejerrey Club 400 m                    QU063   23/8/2022  invierno  13.4      14        8.05   7.29  Ausencia   Ausencia   Ausencia  Ausencia   50000                    3                      380                16.3          1.1       0.51            0.39               11        <30       27              <0.10                0.0082         <0.001         760                <0.15             36   Extremadamente deteriorada    1
Polo Petroquímico Dock Sud             AV051   23/8/2022  invierno  14.06     14        6.19   7.51  Ausente    Ausente    Ausente   Ausente    40000                    3                      600                12.6          1.5       0.31            0.31               3.7       <30       50              <0.10                <0.005         <0.001         250                <0.15             38   Extremadamente deteriorada    1
Puerto Trinidad calle 47               BZ077   23/8/2022  invierno  10.01     16        10.22  8.22  Presencia  Ausencia   Ausencia  Presencia  20000                    290                    50                 12.2          1.9       0.4             0.4                12        <30       13              <0.10                <0.005         <0.001         2130               <0.15             33   Extremadamente deteriorada    1
Puerto de Olivos Espigón               VL032   23/8/2022  invierno  16.1      17        9.82   7.76  Ausencia   Ausencia   Ausencia  Ausencia   40000                    1                      450                12.8          0.95      0.32            0.32               12        36        16              <0.10                <0.005         <0.001         740                <0.15             37   Extremadamente deteriorada    1
Reserva Barrio El Ceibo                VL033   23/8/2022  invierno  17.1      17        9.87   7.99  Ausencia   Ausencia   Ausencia  Ausencia   13000                    6                      2                  20.6          0.49      <0.10           0.42               6.5       <30       12              <0.10                <0.005         <0.001         <10                <0.15             42   Extremadamente deteriorada    1
Rio Tigre 100m antes del Rio Luján     TI005   23/8/2022  invierno  14.3      13        0.36   6.88  Ausencia   Ausencia   Ausencia  Presencia  1070000                  560                    27                 2             22        1.9             0.28               <2.0      <30       33              0.20                 0.011          <0.001         <10                <0.15             32   Extremadamente deteriorada    1
Río Capitán y Río San Antonio          TI008   23/8/2022  invierno  15.6      17        9.48   7.25  Ausencia   Ausencia   Ausencia  Ausencia   560                      930                    730                3.7           0.1       <0.10           <0.10              <2.0      <30       23              <0.10                <0.005         <0.001         <10                <0.15             53   Muy deteriorada               1
Río Carapachay y Arroyo Gallo Fiambre  TI003   23/8/2022  invierno  12.7      13        8.18   7.09  Ausencia   Ausencia   Ausencia  Ausencia   3000                     100                    580                2.6           0.28      0.13            0.13               <2.0      <30       32              <0.10                <0.005         <0.001         <10                <0.15             53   Muy deteriorada               1
Río Lujan y Arroyo Caraguatá           TI006   23/8/2022  invierno  13.3      13        7.5    7.08  Ausencia   Ausencia   Ausencia  Ausencia   10000                    600                    300                3             0.44      0.11            0.11               <2.0      <30       30              <0.10                <0.005         <0.001         <10                <0.15             46   Muy deteriorada               1
Río Lujan y Canal San Fernando         TI007   23/8/2022  invierno  16.5      15        1.13   7.12  Presencia  Presencia  Ausencia  Ausencia   240000                   90                     9                  <2.0          9.3       0.86            0.86               14        <30       6,1             <0.10                <5.0           <0.001         <10                <0.15             25   Extremadamente deteriorada    1
Río Reconquista y Río Lujan            TI004   23/8/2022  invierno  13.5      13        2.17   6.92  Ausencia   Ausencia   Ausencia  Ausencia   76000                    9                      780                3.3           5         0.49            0.49               6.8       <30       6               0.10                 <0.005         <0.001         <10                <0.15             35   Extremadamente deteriorada    1
Name: count, dtype: int64

Para las siguientes columnas fue necesario quitar el string "<" y " <"(este caracter es el denominado NBSP)

In [156]:
columnas = [
    "nh4_mg_l",
    "p_total_l_mg_l",
    "fosf_ortofos_mg_l",
    "dbo_mg_l",
    "dqo_mg_l",
    "turbiedad_ntu",
    "hidr_deriv_petr_ug_l",
    "cr_total_mg_l",
    "cd_total_mg_l",
    "clorofila_a_ug_l",
    "microcistina_ug_l"
]
for col in columnas:
    copy_dataset[col] = copy_dataset[col].str.strip("<")
    copy_dataset[col] = copy_dataset[col].str.strip(" <")

Ahora veamos la variable "cd_total_mg_l" y notaremos que a pesar de quitar el "<" el tipo de dato no cambio, sigue siendo de tipo object

In [157]:
copy_dataset[copy_dataset["cd_total_mg_l"] == "0.001"].value_counts()

sitios                          codigo  fecha      campaña   tem_agua  tem_aire  od    ph    olores     color     espumas   mat_susp   colif_fecales_ufc_100ml  escher_coli_ufc_100ml  enteroc_ufc_100ml  nitrato_mg_l  nh4_mg_l  p_total_l_mg_l  fosf_ortofos_mg_l  dbo_mg_l  dqo_mg_l  turbiedad_ntu  hidr_deriv_petr_ug_l  cr_total_mg_l  cd_total_mg_l  clorofila_a_ug_l  microcistina_ug_l  ica  calidad_de_agua
Arroyo Abra Vieja y Santa Rosa  TI009   23/2/2022  Verano    23.4      21        4.49  6.76  Ausencia   Ausencia  Ausencia  Ausencia   400                      100                    220                1.9           0.1       0.21            0.19               1.9       29        39             0.10                  0.005          0.001          10                0.20               58   Muy deteriorada               1
                                        23/8/2022  invierno  15.6      15        8.68  7.13  Ausencia   Ausencia  Ausencia  Ausencia   3200                     2                      250                2.4           0.11      0.12            0.12               2.0       30        33             0.10                  0.005          0.001          200               0.15               51   Muy deteriorada               1
                                        4/5/2022   otoño     18.5      16        7.85  7.32  Ausencia   Ausencia  Ausencia  Ausencia   2200                     50                     50                 2.6           0.05      0.13            0.11               2.0       58        65             0.10                  0.005          0.001          10                0.15               61   Muy deteriorada               1
Arroyo El Gato                  EN083   23/2/2022  Verano    24.2      27        3.54  7.76  Ausencia   Ausencia  Ausencia  Ausencia   5000                     400                    850                13.1          0.049     0.33            0.21               7.4       29        12             0.10                  0.005          0.001          10                0.20               46   Muy deteriorada               1
                                        23/8/2022  invierno  12.8      9         2.49  8.01  Ausencia   Ausencia  Ausencia  Ausencia   192000                   60                     24                 2             22        1.2             1.2                18        30        8,6            0.10                  0.005          0.001          1960              0.15               32   Extremadamente deteriorada    1
                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
Río Reconquista y Río Lujan     TI004   23/8/2022  invierno  13.5      13        2.17  6.92  Ausencia   Ausencia  Ausencia  Ausencia   76000                    9                      780                3.3           5         0.49            0.49               6.8       30        6              0.10                  0.005          0.001          10                0.15               35   Extremadamente deteriorada    1
                                        4/5/2022   otoño     18.2      16        4.9   6.85  Presencia  Ausencia  Ausencia  Presencia  28000                    5200                   460                8.5           0.25      0.71            0.35               3.6       67        70             0.10                  0.01           0.001          10                0.15               37   Extremadamente deteriorada    1
Toma de agua Club de Pesca      EN082   23/2/2022  Verano    24.7      27        7.17  8.11  Ausencia   Ausencia  Ausencia  Ausencia   750                      300                    130                6.3           0.049     0.35            0.24               1.9       29        34             0.10                  0.005          0.001          13.4              0.20               56   Muy deteriorada               1
                                        23/8/2022  invierno  13        10        8.14  8.14  Ausencia   Ausencia  Ausencia  Ausencia   4000                     110                    113                14.4          0.33      0.26            0.26               6.5       30        18             0.10                  0.005          0.001          4650              0.25               45   Muy deteriorada               1
                                        4/5/2022   otoño     14.3      8         8.57  8.09  Ausencia   Ausencia  Ausencia  Ausencia   500                      20                     10                 8.4           0.05      0.23            0.17               2.0       64        55             0.10                  0.005          0.001          120               0.15               64   Muy deteriorada               1
Name: count, Length: 84, dtype: int64

Entonces para esta variable en particular vamos a realizar un mapeo para sustituir el tipo string a tipo entero

In [158]:
mgl_map = {
    "0.001":0.001,
    "0.002":0.002
}
copy_dataset["cd_total_mg_l"] = copy_dataset["cd_total_mg_l"].map(mgl_map)
copy_dataset["cd_total_mg_l"].info()

<class 'pandas.core.series.Series'>
Index: 154 entries, 0 to 167
Series name: cd_total_mg_l
Non-Null Count  Dtype
--------------  -----
151 non-null    float64
dtypes: float64(1)
memory usage: 2.4 KB

Para la variable calidad_de_agua hicimos una transformacion ordinal encoding, donde cada valor unico de una caracteristica se mapea a un entero, tratando de ser lo mas cuidadoso para preservar el orden natural

In [159]:
niveles_deterioro = {
    "Deteriorada" : 1,
    "Muy deteriorada" : 2,
    "Extremadamente deteriorada" : 3
}

copy_dataset["calidad_de_agua"] = copy_dataset["calidad_de_agua"].map(niveles_deterioro)

Para las siguientes variables continuaremos con un tipo de mapeo dicotomico

In [160]:
mapeo_dicotomico = {
    "Ausencia" : 0,
    "Ausente" : 0,
    "ausencia" : 0,
    "presencia" : 1,
    "Presencia" : 1
}

copy_dataset["olores"] = copy_dataset["olores"].map(mapeo_dicotomico)
copy_dataset["color"] = copy_dataset["color"].map(mapeo_dicotomico)
copy_dataset["espumas"] = copy_dataset["espumas"].map(mapeo_dicotomico)
copy_dataset["mat_susp"] = copy_dataset["mat_susp"].map(mapeo_dicotomico)

A continuacion vamos a cambiar dos valores de la variable "fecha", ya que la fecha de la medicion se cargo como "31/10/0202" cuando en realidad intumos que se quiso cargar "31/10/2022" debido a que todas las muestras fueron realizadas en dicho año

In [161]:
copy_dataset["fecha"] = copy_dataset["fecha"].replace("31/10/0202", "31/10/2022")
copy_dataset["fecha"].value_counts()

fecha
4/5/2022      41
23/2/2022     39
23/8/2022     37
31/10/2022    37
Name: count, dtype: int64

Para tratar los NA vamos a operar con todas las columnas que lo posean, a traves de una serie de pasos
1_Convertir todas las variables a tipo numerico, exceptuando los NA(aquellos que no puedan convertirse, como los NA, seran convertidos a NAN)
2_Calcularemos la mediana para cada estacion del año
3_Con la funcion fillna, Asignaremos la mediana de cada estacion a los valores NAN en funcion de la columna a la que pertenezca

Decidimos hacer imputacion por mediana y por estacion, para mantener la distribucion de los datos lo mas equilibrada posible.

In [162]:
columnas = [
    "tem_agua",
    "tem_aire",
    "od",
    "ph",
    "colif_fecales_ufc_100ml",
    "escher_coli_ufc_100ml",
    "enteroc_ufc_100ml",
    "nitrato_mg_l",
    "nh4_mg_l",
    "p_total_l_mg_l",
    "fosf_ortofos_mg_l",
    "dbo_mg_l",
    "dqo_mg_l",
    "turbiedad_ntu",
    "hidr_deriv_petr_ug_l",
    "cr_total_mg_l",
    "cd_total_mg_l",
    "clorofila_a_ug_l",
    "microcistina_ug_l",
    "ica"
]
for col in columnas:
    copy_dataset[col] = pd.to_numeric(copy_dataset[col], errors= 'coerce')
    
    median_verano = copy_dataset.loc[copy_dataset["campaña"] == "Verano", col].median()
    median_invierno = copy_dataset.loc[copy_dataset["campaña"] == "invierno", col].median()
    median_otoño = copy_dataset.loc[copy_dataset["campaña"] == "otoño", col].median()
    median_primavera = copy_dataset.loc[copy_dataset["campaña"] == "Primavera", col].median()
    
    copy_dataset.loc[(copy_dataset['campaña'] == 'Verano') & (copy_dataset[col].isna()), col] = median_verano
    copy_dataset.loc[(copy_dataset['campaña'] == 'invierno') & (copy_dataset[col].isna()), col] = median_invierno
    copy_dataset.loc[(copy_dataset['campaña'] == 'Primavera') & (copy_dataset[col].isna()), col] = median_primavera
    copy_dataset.loc[(copy_dataset['campaña'] == 'otoño') & (copy_dataset[col].isna()), col]=median_otoño

c:\Users\Matias\Desktop\TP ESPECIAL - CIENCIA DE DATOS\practicoespecialvenv\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1241: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

Veamos que pasa con la columna "dbo_mg_l". Esta presenta inconvenientes para transformar el tipo de dato (siguen habiendo Nan)

In [163]:
primavera_nan = copy_dataset[(copy_dataset['campaña'] == 'Primavera') & (copy_dataset['dbo_mg_l'].isna())]
print(primavera_nan)

                                    sitios    codigo       fecha    campaña  \
126           Canal Villanueva y Río Luján     TI001  31/10/2022  Primavera
127           Río Lujan y Arroyo Caraguatá     TI006  31/10/2022  Primavera
128            Canal Aliviador y Río Lujan     TI002  31/10/2022  Primavera
129  Río Carapachay y Arroyo Gallo Fiambre     TI003  31/10/2022  Primavera
130            Río Reconquista y Río Lujan     TI004  31/10/2022  Primavera
131     Rio Tigre 100m antes del Rio Luján     TI005  31/10/2022  Primavera
132         Río Lujan y Canal San Fernando     TI007  31/10/2022  Primavera
133          Río Capitán y Río San Antonio     TI008  31/10/2022  Primavera
134         Arroyo Abra Vieja y Santa Rosa     TI009  31/10/2022  Primavera
135                               Del Arca     SF015  31/10/2022  Primavera
137                      Reserva Ecológica     SI022  31/10/2022  Primavera
138               Playa Espigón de Pacheco     SI024  31/10/2022  Primavera
139                            Perú Puente     SI023  31/10/2022  Primavera
140                Reserva Barrio El Ceibo     VL033  31/10/2022  Primavera
141               Puerto de Olivos Espigón     VL032  31/10/2022  Primavera
142                           Costa y Melo     VL031  31/10/2022  Primavera
147                Escollera de Propaneros     AV054  31/10/2022  Primavera
148             Polo Petroquímico Dock Sud     AV051  31/10/2022  Primavera
149                         Arroyo Sarandí     AV052  31/10/2022  Primavera
150                Costa de Villa Domínico     AV055  31/10/2022  Primavera
151                   Arroyo Santo Domingo     AV053  31/10/2022  Primavera
152                           Espora 400 m     QU061  31/10/2022  Primavera
153                          Náutico 400 m     QU062  31/10/2022  Primavera
154                    Pejerrey Club 400 m     QU063  31/10/2022  Primavera
155       Calle 14 y Costa - Salida cloaca     BZ078  31/10/2022  Primavera
156               Puerto Trinidad calle 47     BZ077  31/10/2022  Primavera
157              Costanera Hudson Calle 63     BZ080  31/10/2022  Primavera
158     Boca Cerrada (Res.Nat. Punta Lara)  EN-extra  31/10/2022  Primavera
159                      Camping Eva Perón     EN081  31/10/2022  Primavera
160             Toma de agua Club de Pesca     EN082  31/10/2022  Primavera
161                         Arroyo El Gato     EN083  31/10/2022  Primavera
162      Ensenada Prefectura Isla Santiago     EN084  31/10/2022  Primavera
163                  Balneario Palo Blanco     BS092  31/10/2022  Primavera
164          Diagonal 66 (descarga cloaca)     BS095  31/10/2022  Primavera
165                     Playa La Bagliardi     BS091  31/10/2022  Primavera
166                    Balneario Municipal     BS094  31/10/2022  Primavera
167                      Playa La Balandra     BS093  31/10/2022  Primavera

     tem_agua  tem_aire     od    ph  olores  color  ...  dbo_mg_l  dqo_mg_l  \
126    21.500    15.000  8.300 7.000       0      0  ...       NaN        30
127    20.900    15.000  6.430 7.000       0      0  ...       NaN        30
128    20.400    14.000  6.240 7.000       0      0  ...       NaN        30
129    20.200    14.000  5.800 7.000       0      0  ...       NaN        36
130    19.700    14.000  5.680 7.000       0      0  ...       NaN        33
131    20.000    11.000  5.240 7.000       0      0  ...       NaN        30
132    19.000    11.000  6.350 7.000       0      0  ...       NaN        30
133    19.200    12.000  6.910 7.000       0      0  ...       NaN        36
134    18.600    12.000  7.210 7.000       0      0  ...       NaN        30
135    20.400    14.000  7.780 7.000       0      0  ...       NaN        30
137    21.000    19.000  6.400 7.000       0      0  ...       NaN        39
138    18.400    17.000  8.200 7.000       0      0  ...       NaN        30
139    21.000    19.000  3.300 7.000       0      0  ...       NaN        32
140    19.400    15.100  9.910 7.000       0      0  ...       NaN        30
141    18.500    15.100  8.620 7.000       0      0  ...       NaN        30
142    18.600    12.300  8.830 7.000       0      0  ...       NaN        30
147    18.890    12.000  3.990 7.000       0      0  ...       NaN        30
148    18.430    13.000  5.370 7.000       0      0  ...       NaN        30
149    18.500    14.000  6.600 7.000       0      0  ...       NaN        30
150    18.500    14.000  6.100 7.000       0      0  ...       NaN        30
151    17.100    14.000  7.060 8.000       0      0  ...       NaN        30
152    18.500    13.000  7.490 7.000       0      0  ...       NaN        30
153    18.600    13.000  7.380 7.000       0      0  ...       NaN        30
154    18.300    13.000  7.000 7.000       0      0  ...       NaN        39
155    15.040    11.000 11.020 7.000       0      0  ...       NaN        37
156    18.060    16.000 10.390 7.000       0      0  ...       NaN        30
157    18.700    12.000  8.540 7.000       0      0  ...       NaN        48
158    18.500    10.000  7.210 7.000       0      0  ...       NaN        72
159    16.000     7.000 11.050 7.000       0      0  ...       NaN        33
160    17.200     6.000  8.380 7.000       0      0  ...       NaN        46
161    18.000     4.000  7.360 7.000       0      0  ...       NaN        30
162    17.100     5.000  8.980 7.000       0      0  ...       NaN        30
163    10.000    12.000  7.210 7.000       0      0  ...       NaN        30
164    10.000    12.000  7.210 7.000       0      1  ...       NaN        31
165    10.000    12.000  7.210 7.000       0      0  ...       NaN        30
166    10.000    12.000  7.210 7.000       0      0  ...       NaN        39
167    10.000    12.000  7.210 7.000       0      0  ...       NaN        30

     turbiedad_ntu  hidr_deriv_petr_ug_l  cr_total_mg_l  cd_total_mg_l  \
126         30.000                 0.100          0.005          0.001
127         26.000                 0.100          0.005          0.001
128         28.000                 0.100          0.005          0.001
129         25.000                 0.100          0.005          0.001
130         30.000                 0.100          0.005          0.001
131         26.000                 0.100          0.005          0.001
132         30.000                 0.100          0.005          0.001
133         29.000                 0.100          0.005          0.001
134         35.000                 0.100          6.000          0.001
135         39.000                 0.100          0.005          0.001
137         29.000                 0.100          0.005          0.001
138         29.000                 0.100          6.000          0.001
139          9.300                 0.100          0.005          0.001
140         28.000                 0.100          0.005          0.001
141         19.000                 0.100          0.005          0.001
142         19.000                 0.100          6.000          0.001
147         14.000                 0.100          7.000          0.001
148         16.000                 0.100          0.005          0.001
149         18.000                 0.100          0.005          0.001
150         15.000                 0.100          0.005          0.001
151         21.000                 0.100          7.000          0.001
152         17.000                 0.100          0.005          0.001
153         20.000                 0.100          0.005          0.001
154         25.000                 0.100          6.000          0.001
155         37.000                 0.100         12.000          0.001
156         25.000                 0.100          0.005          0.001
157         34.000                 0.100          8.000          0.001
158         39.000                 0.100         10.000          0.001
159         31.000                 0.100          0.005          0.001
160         26.000                 0.100          0.005          0.001
161         23.000                 0.100          0.005          0.001
162         39.000                 0.100          0.005          0.001
163         23.000                 0.100          0.005          0.001
164         18.200                 0.100          0.005          0.001
165         40.000                 0.100          0.005          0.001
166         90.000                 0.100          5.000          0.001
167         70.000                 0.100          5.000          0.001

     clorofila_a_ug_l  microcistina_ug_l  ica  calidad_de_agua
126             0.300              0.150   61                2
127             0.000              0.150   40                3
128             0.400              0.150   40                3
129             0.300              0.150   36                3
130             0.000              0.150   56                2
131             0.000              0.150   67                1
132             0.500              0.150   52                2
133             0.300              0.150   50                2
134             1.000              0.150   50                2
135             0.100              0.150   58                2
137             5.900              0.150   41                3
138             0.600              0.150   58                2
139             0.200              0.150   51                2
140             0.000              0.150   60                2
141             0.700              0.150   50                2
142             3.100              0.150   49                2
147             6.400              0.150   37                3
148             0.800              0.150   52                2
149             8.200              0.150   43                3
150            28.800              0.150   40                3
151            40.900              0.150   40                3
152             0.000              0.150   62                2
153            17.000              0.150   41                3
154            63.700              0.150   36                3
155            92.400              0.150   40                3
156             8.500              0.150   39                3
157            11.700              0.150   40                3
158            74.200              0.150   41                3
159            36.500              0.190   38                3
160            29.400              0.150   41                3
161            16.700              0.150   37                3
162             0.600              0.150   54                2
163             2.100              0.150   43                3
164            20.200              0.150   37                3
165             0.200              0.150   49                2
166            10.500              0.150   39                3
167            48.000              0.150   34                3

[37 rows x 29 columns]

Observamos que para la columna "dbo_mg_l" para la campaña Primavera siguen habiendo ocurrencias Nan.
la mediana devuelve NaN, significa que no hay suficientes datos válidos en la campaña "Primavera" para calcular una mediana, y eso explicaría por qué no podemos reemplazar los valores NaN. En ese caso, podríamos intentar un enfoque alternativo, como usar un valor por defecto o una mediana calculada de otra campaña.

In [164]:
# Calcular la mediana total de la columna 'dbo_mg_l' sin filtrar por campaña
median_total = copy_dataset['dbo_mg_l'].median()
# Reemplazar los valores NaN en 'dbo_mg_l' para la campaña 'Primavera' con la mediana total
copy_dataset.loc[(copy_dataset['campaña'] == 'Primavera') & (copy_dataset['dbo_mg_l'].isna()), 'dbo_mg_l'] = median_total

verificamos que se reemplazaron los Nan correctamente

In [165]:
copy_dataset["dbo_mg_l"]

0     6.200
1     5.800
2     1.900
3     5.800
4     2.600
       ...
163   5.000
164   5.000
165   5.000
166   5.000
167   5.000
Name: dbo_mg_l, Length: 154, dtype: float64

Ahora si estamos en condiciones!

Realizamos un describe para ver una serie de caracteristicas descriptivas

Ya tenemos el dataset preparado para empezar con el modelado de variables y deducir relaciones entre distintas variables

In [166]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

seteamos la opcion para que el dataset muestre los valores completos y no en notacion cientifica

In [167]:
copy_dataset.describe()

,tem_agua,tem_aire,od,ph,olores,color,espumas,mat_susp,colif_fecales_ufc_100ml,escher_coli_ufc_100ml,...,dbo_mg_l,dqo_mg_l,turbiedad_ntu,hidr_deriv_petr_ug_l,cr_total_mg_l,cd_total_mg_l,clorofila_a_ug_l,microcistina_ug_l,ica,calidad_de_agua
count,154.000,154.000,154.000,154.000,154.000,154.000,154.000,154.000,154.000,154.000,...,154.000,154.000,154.000,154.000,154.000,154.000,154.000,154.000,154.000,154.000
mean,17.900,15.826,6.777,7.439,0.078,0.084,0.032,0.175,86140.292,4068.110,...,5.875,44.188,34.762,0.101,0.544,0.001,263.861,0.189,44.071,2.584
std,4.786,5.023,2.642,0.697,0.269,0.279,0.178,0.381,380084.458,15012.075,...,4.571,23.477,23.854,0.008,1.946,0.000,816.715,0.159,8.949,0.520
min,6.000,4.000,0.360,5.000,0.000,0.000,0.000,0.000,80.000,1.000,...,1.900,29.000,2.500,0.100,0.005,0.001,0.000,0.150,23.000,1.000
25%,14.933,13.000,5.363,7.000,0.000,0.000,0.000,0.000,1200.000,100.000,...,3.625,30.000,18.050,0.100,0.005,0.001,10.000,0.150,38.000,2.000
50%,17.850,14.000,6.805,7.355,0.000,0.000,0.000,0.000,3900.000,330.000,...,5.000,30.000,27.500,0.100,0.005,0.001,10.000,0.150,42.000,3.000
75%,20.775,19.000,8.170,7.790,0.000,0.000,0.000,0.000,37500.000,1675.000,...,6.425,52.250,45.000,0.100,0.005,0.001,41.800,0.200,50.000,3.000
max,27.400,27.000,17.610,10.020,1.000,1.000,1.000,1.000,4200000.000,150000.000,...,42.000,180.000,130.000,0.200,12.000,0.002,6410.000,1.670,76.000,3.000

Podemos observar lo siguiente:
- OD = Vemos que se distribuye moderadamente en los 3 cuartiles, pero que el minimo es un valor muy bajo (podria ser un outlier o una zona influenciada por el Riachuelo donde la contaminacion es muy alta). Además vemos que el máximo valor registrado para esta columna es de 17, lo que sorprende un poco, a examinar.
- TEM_AGUA = el valor minimo es de 6 (°C) y el maximo de 27.4 (°C), el promedio de 17,89 (°C). Parece todo normal dentro de los cuartiles
- TEM_AIR = se comporta muy parecido a la temperatura del agua.
- OLORES, COLOR, ESPUMAS Y MAT_SUSP no aportan mucho ya que se se realizo un mapeo dicotomico {0, 1}. podemos analizar a simple vista que el promedio en todos los casos es menor al 17% por lo que indicaria una tendencia a la ausencia de estos indicadores.
- COLIFORMES_FECALES_UFC_100ML = Vemos que hay numeros extremadamente grandes para este indicador, lo que daria a entender que el agua esta muy contaminada, AUNQUE! el maximo valor es 4.200.000 en 100 ml lo que es demasiado grande para ser real. examinar.